<div class="flyntComponent componentSpacing {{ options.theme }} bg-black" is="flynt-slider-quote">
	{# <script type="application/json">{{ jsonData|json_encode }}</script> #}
	<section>
	<div class="container">
		<div class="intro">
			<h3 class="text-white">Our clients.</h3>
		</div>
		<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 mt-5 mt-lg-8">
			<div class="col mt-5">
				<div class="logo-wrap">
					<img src="{{ theme.link }}/Components/SliderQuote/Assets/logo-cisco.svg" alt="Logo">
				</div>
			</div>
			<div class="col mt-5">
				<div class="logo-wrap">
					<img src="{{ theme.link }}/Components/SliderQuote/Assets/logo-vmware.svg" alt="Logo">
				</div>
			</div>
			<div class="col mt-5">
				<div class="logo-wrap">
					<img src="{{ theme.link }}/Components/SliderQuote/Assets/logo-mcafee.svg" alt="Logo">
				</div>
			</div>
			<div class="col mt-5">
				<div class="logo-wrap">
					<img src="{{ theme.link }}/Components/SliderQuote/Assets/logo-tenable.svg" alt="Logo">
				</div>
			</div>
			<div class="col mt-5">
				<div class="logo-wrap">
					<img src="{{ theme.link }}/Components/SliderQuote/Assets/logo-stanford.svg" alt="Logo">
				</div>
			</div>
		</div>
		<div class="swiper">
			<div class="row flex-nowrap g-0 swiper-wrapper">
				<div class="col-12 swiper-slide">
					<div class="row mt-14">
						<div class="col-12 col-lg-7">
							<div class="media-wrap">
								<img src="{{ theme.link }}/Components/SliderQuote/Assets/pattern-hexagon-green.png" alt="Quote Image">
							</div>
						</div>
						<div class="col mt-8">
							<figure class="text-white">
								<blockquote>
									<h4>Aenean aliquet malesuada quam et placerat. Suspendisse pellentesque. Interdum et malesuada fames ac ante ipsum
										primis in faucibus lorem ipsum.</h4>
								</blockquote>
								<figcaption>
									<p>Jane Doe, <span>CEO</span></p>
								</figcaption>
							</figure>
							<div class="logo-wrap">
								<img src="{{ theme.link }}/Components/SliderQuote/Assets/logo-cohesity.png" alt="Author Company">
							</div>
							<div class="action-wrap">
								<a href="/" class="btn-tertiary-white">View case study</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 swiper-slide">
					<div class="row mt-14">
						<div class="col-12 col-lg-7">
							<div class="media-wrap">
								<img src="{{ theme.link }}/Components/SliderQuote/Assets/pattern-hexagon-green.png" alt="Quote Image">
							</div>
						</div>
						<div class="col mt-8">
							<figure class="text-white">
								<blockquote>
									<h4>Aenean aliquet malesuada quam et placerat. Suspendisse pellentesque. Interdum et malesuada fames ac ante ipsum
										primis in faucibus lorem ipsum.</h4>
								</blockquote>
								<figcaption>
									<p>Jane Doe, <span>CEO</span></p>
								</figcaption>
							</figure>
							<div class="logo-wrap">
								<img src="{{ theme.link }}/Components/SliderQuote/Assets/logo-cohesity.png" alt="Author Company">
							</div>
							<div class="action-wrap">
								<a href="/" class="btn-tertiary-white">View case study</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination mt-5 mt-lg-8"></div>
		</div>
	</div>
	</section>
</div>
