<div class="flyntComponent componentSpacing {{ options.theme }} themeDark" is="flynt-block-image-two-col">
	<div class="columns-outer swiper">
		<div class="columns swiper-wrapper">
			<div class="column swiper-slide">
				<figure class="figure">
					<img class="figure-image lazyload" data-src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/man-holding-phone.webp" width="800" height="1090" alt="Background Image">
				</figure>
				<div class="content">
					<div class="logo">
						<img class="logo-image lazyload" data-src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-digimarc.webp" width="290" height="61" alt="Logo">
					</div>
					<h3>
						<span class="marker marker--circleWhite">27%</span>
						increase on click-through rates.</h3>
          <a href="/" class="button button--link">View case study</a>
				</div>
			</div>
			<div class="column swiper-slide">
				<figure class="figure">
					<img class="figure-image lazyload" data-src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/office-discussion.webp" width="800" height="1090"  alt="Background Image">
				</figure>
				<div class="content">
					<div class="logo">
						<img class="logo-image lazyload" data-src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-leadspace.webp" width="290" height="61" alt="Logo">
					</div>
					<h3>53%
						<span class="marker">increase</span>
						on engagement metrics.</h3>
          <a href="/" class="button button--link">View case study</a>
				</div>
			</div>
			<div class="column swiper-slide">
				<figure class="figure">
					<img class="figure-image lazyload" data-src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/man-holding-phone.webp" width="800" height="1090" alt="Background Image">
				</figure>
				<div class="content">
					<div class="logo">
						<img class="logo-image layload" data-src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-digimarc.webp" width="290" height="61" alt="Logo">
					</div>
					<h3>
						<span class="marker marker--circleWhite">27%</span>
						increase on click-through rates.</h3>
          <a href="/" class="button button--link">View case study</a>
				</div>
			</div>
		</div>
		<div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
	</div>
</div>

<div class="flyntComponent componentSpacing {{ options.theme }} themeLight" is="flynt-block-tabs-with-content">
	{# <script type="application/json">{{ jsonData|json_encode }}</script> #}
	<div class="container">
		<div class="intro">
			<h3>Our services.</h3>
		</div>
		<div class="tabs-with-content-items">
			<div class="tabs-list">
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Brand strategy</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<figure class="tab-figure">
										<img class="tab-figureImage lazyload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</figure>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<div class="tab-contentAction">
										<a data-cursor-expand href="/" class="button">Learn more</a>
									</div>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Website design</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<figure class="tab-figure">
										<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</figure>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<div class="tab-contentAction">
										<a data-cursor-expand href="/" class="button">Learn more</a>
									</div>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Motion graphics</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<figure class="tab-figure">
										<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</figure>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<div class="tab-contentAction">
										<a data-cursor-expand href="/" class="button">Learn more</a>
									</div>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Creative services</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<figure class="tab-figure">
										<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</figure>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<div class="tab-contentAction">
										<a data-cursor-expand href="/" class="button">Learn more</a>
									</div>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Digital strategy</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<figure class="tab-figure">
										<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</figure>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<div class="tab-contentAction">
										<a data-cursor-expand href="/" class="button">Learn more</a>
									</div>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Web development</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<figure class="tab-figure">
										<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</figure>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<div class="tab-contentAction">
										<a data-cursor-expand href="/" class="button">Learn more</a>
									</div>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Website design</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<figure class="tab-figure">
										<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</figure>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<div class="tab-contentAction">
										<a data-cursor-expand href="/" class="button">Learn more</a>
									</div>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>UX/UI design</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<figure class="tab-figure">
										<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</figure>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<div class="tab-contentAction">
										<a data-cursor-expand href="/" class="button">Learn more</a>
									</div>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Digital marketing</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<figure class="tab-figure">
										<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</figure>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<div class="tab-contentAction">
										<a data-cursor-expand href="/" class="button">Learn more</a>
									</div>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
				<div class="tabs-item">
					<div class="tab">
						<div class="tab-head" data-cursor-icon="plus" data-cursor-expand>
							<h4>Support subscriptions</h4>
							<span class="tab-expandButton"></span>
						</div>
						<div class="tab-body">
							<div class="tab-bodyInner">
								<div class="tab-image">
									<figure class="tab-figure">
										<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
									</figure>
								</div>
								<div class="tab-content">
									<h4>Content development</h4>
									<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
									<ul>
										<li>Content Strategy</li>
										<li>Copywriting / Copyediting</li>
										<li>Infographics</li>
										<li>Collateral</li>
										<li>Ebooks</li>
									</ul>
									<div class="tab-contentAction">
										<a data-cursor-expand href="/" class="button">Learn more</a>
									</div>
								</div>
								<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tabs-with-content-content">
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<figure class="tab-figure">
							<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</figure>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<div class="tab-contentAction">
							<a data-cursor-expand href="/" class="button">Learn more</a>
						</div>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<figure class="tab-figure">
							<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</figure>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<div class="tab-contentAction">
							<a data-cursor-expand href="/" class="button">Learn more</a>
						</div>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<figure class="tab-figure">
							<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</figure>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<div class="tab-contentAction">
							<a data-cursor-expand href="/" class="button">Learn more</a>
						</div>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<figure class="tab-figure">
							<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</figure>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<div class="tab-contentAction">
							<a data-cursor-expand href="/" class="button">Learn more</a>
						</div>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<figure class="tab-figure">
							<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</figure>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<div class="tab-contentAction">
							<a data-cursor-expand href="/" class="button">Learn more</a>
						</div>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<figure class="tab-figure">
							<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</figure>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<div class="tab-contentAction">
							<a data-cursor-expand href="/" class="button">Learn more</a>
						</div>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<figure class="tab-figure">
							<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</figure>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<div class="tab-contentAction">
							<a data-cursor-expand href="/" class="button">Learn more</a>
						</div>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<figure class="tab-figure">
							<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</figure>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<div class="tab-contentAction">
							<a data-cursor-expand href="/" class="button">Learn more</a>
						</div>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<figure class="tab-figure">
							<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</figure>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<div class="tab-contentAction">
							<a data-cursor-expand href="/" class="button">Learn more</a>
						</div>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
			<div class="tab-body">
				<div class="tab-bodyInner">
					<div class="tab-image">
						<figure class="tab-figure">
							<img class="layload" data-src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.webp" width="894" height="1071" alt="black pink">
						</figure>
					</div>
					<div class="tab-content">
						<h4>Content development</h4>
						<p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
						<ul>
							<li>Content Strategy</li>
							<li>Copywriting / Copyediting</li>
							<li>Infographics</li>
							<li>Collateral</li>
							<li>Ebooks</li>
						</ul>
						<div class="tab-contentAction">
							<a data-cursor-expand href="/" class="button">Learn more</a>
						</div>
					</div>
					<span class="tab-closeButton" aria-label="close button" data-cursor-icon="minus" data-cursor-expand></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="flyntComponent componentSpacing {{ options.theme }} themeDark" is="flynt-slider-quote">
	{# <script type="application/json">{{ jsonData|json_encode }}</script> #}
	<div class="container">
		<div class="intro">
			<h3>Our clients.</h3>
		</div>
		<div class="logos">
			<ul class="logos-list">
				<li class="logos-item">
					<div class="logo">
						<img class="logo-image" src="{{ theme.link }}/Components/SliderQuote/Assets/logo-cisco.svg" width="210" height="84" alt="Logo">
					</div>
				</li>
				<li class="logos-item">
					<div class="logo">
						<img class="logo-image" src="{{ theme.link }}/Components/SliderQuote/Assets/logo-vmware.svg" width="210" height="84" alt="Logo">
					</div>
				</li>
				<li class="logos-item">
					<div class="logo">
						<img class="logo-image" src="{{ theme.link }}/Components/SliderQuote/Assets/logo-mcafee.svg" width="210" height="84" alt="Logo">
					</div>
				</li>
				<li class="logos-item">
					<div class="logo">
						<img class="logo-image" src="{{ theme.link }}/Components/SliderQuote/Assets/logo-tenable.svg" width="210" height="84" alt="Logo">
					</div>
				</li>
				<li class="logos-item">
					<div class="logo">
						<img class="logo-image" src="{{ theme.link }}/Components/SliderQuote/Assets/logo-stanford.svg" width="210" height="84" alt="Logo">
					</div>
				</li>
			</ul>
		</div>
    <div class="testimonials-slider swiper">
      <div class="testimonials swiper-wrapper">
        <div class="testimonial-outer swiper-slide">
          <div class="testimonial">
            <div class="testimonial-image">
              <figure class="testimonial-figure">
                <img class="testimonial-figureImage lazyload" data-src="{{ theme.link }}/Components/SliderQuote/Assets/pattern-hexagon-green.webp" width="570" height="491" alt="Quote Image">
              </figure>
            </div>
            <div class="testimonial-content">
              <div class="testimonial-quote art art--quoteWhite" aria-hidden="true"></div>
              <blockquote class="testimonial-text">
                <h4>Aenean aliquet malesuada quam et placerat. Suspendisse pellentesque. Interdum et malesuada fames ac ante ipsum primis in faucibus lorem ipsum.</h4>
              </blockquote>
              <p class="testimonial-author">Jane Doe, <span>CEO</span></p>
              <div class="testimonial-author-logo">
                <img class="quote-author-logoImage lazyload" data-src="{{ theme.link }}/Components/SliderQuote/Assets/logo-cohesity.webp" width="157" height="22" alt="Author Company">
              </div>
              <a href="/" class="testimonial-link button button--link">View case study</a>
            </div>
          </div>
        </div>
        <div class="testimonial-outer swiper-slide">
          <div class="testimonial">
            <div class="testimonial-image">
              <figure class="testimonial-figure">
                <img class="testimonial-figureImage lazyload" data-src="{{ theme.link }}/Components/SliderQuote/Assets/pattern-hexagon-green.webp" width="570" height="491" alt="Quote Image">
              </figure>
            </div>
            <div class="testimonial-content">
              <div class="testimonial-quote art art--quoteWhite" aria-hidden="true"></div>
              <blockquote class="testimonial-text">
                <h4>Aenean aliquet malesuada quam et placerat. Suspendisse pellentesque. Interdum et malesuada fames ac ante ipsum primis in faucibus lorem ipsum.</h4>
              </blockquote>
              <p class="testimonial-author">Jane Doe, <span>CEO</span></p>
              <div class="testimonial-author-logo">
                <img class="quote-author-logoImage lazyload" data-src="{{ theme.link }}/Components/SliderQuote/Assets/logo-cohesity.webp" width="157" height="22" alt="Author Company">
              </div>
              <a href="/" class="testimonial-link button button--link">View case study</a>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial-sliderProgressbar swiper-pagination"></div>
      <div class="testimonial-sliderArrow testimonial-sliderArrow--prev swiper-button-prev"></div>
      <div class="testimonial-sliderArrow testimonial-sliderArrow--next swiper-button-next"></div>
    </div>
  </div>
</div>
