<div class="flyntComponent componentSpacing bg-dark-gray {{ options.theme }}" is="flynt-block-tabs-with-content">
  {#
  <script type="application/json">{{ jsonData|json_encode }}</script> #}
  <section class="tabs-with-content">
    <div class="container">
      <div class="intro mb-8 mb-md-12">
        <h3>Our services.</h3>
      </div>
      <div class="tabs-with-content__items">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="tab" data-tab="tab-" data-cursor-icon="plus" data-cursor-expand>
              <h4>Brand strategy</h4>
              <div class="tab__body" data-content="tab-">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="img-wrapper">
                       <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <h4 class="mb-5">Content development</h4>
                    <p class="body-default mb-5">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
                    <ul>
                      <li>Content Strategy</li>
                      <li>Copywriting / Copyediting</li>
                      <li>Infographics</li>
                      <li>Collateral</li>
                      <li>Ebooks</li>
                    </ul>
                    <div class="btn-wrapper mt-5">
                      <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
                    </div>
                  </div>
                  <span class="close-btn" aria-label="close button"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="tab" data-tab="tab-" data-cursor-icon="plus" data-cursor-expand>
              <h4>Website design</h4>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="tab" data-tab="tab-" data-cursor-icon="plus" data-cursor-expand>
              <h4>Motion graphics</h4>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="tab" data-tab="tab-" data-cursor-icon="plus" data-cursor-expand>
              <h4>Creative services</h4>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="tab" data-tab="tab-" data-cursor-icon="plus" data-cursor-expand>
              <h4>Digital strategy</h4>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="tab" data-tab="tab-" data-cursor-icon="plus" data-cursor-expand>
              <h4>Web development</h4>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="tab" data-tab="tab-" data-cursor-icon="plus" data-cursor-expand>
              <h4>Website design</h4>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="tab" data-tab="tab-" data-cursor-icon="plus" data-cursor-expand>
              <h4>UX/UI design</h4>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="tab" data-tab="tab-" data-cursor-icon="plus" data-cursor-expand>
              <h4>Digital marketing</h4>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="tab" data-tab="tab-" data-cursor-icon="plus" data-cursor-expand>
              <h4>Support subscriptions</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs-with-content__content d-none">
        <div class="tab__body" data-content="tab-">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="img-wrapper">
                 <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h4 class="mb-5">Content development</h4>
              <p class="body-default mb-5">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
              <ul>
                <li>Content Strategy</li>
                <li>Copywriting / Copyediting</li>
                <li>Infographics</li>
                <li>Collateral</li>
                <li>Ebooks</li>
              </ul>
              <div class="btn-wrapper mt-5">
                <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
              </div>
            </div>
            <span class="close-btn" aria-label="close button"></span>
          </div>
        </div>
        <div class="tab__body" data-content="tab-">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="img-wrapper">
                 <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h4 class="mb-5">Content development</h4>
              <p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
              <ul class="mt-5">
                <li>Content Strategy</li>
                <li>Copywriting / Copyediting</li>
                <li>Infographics</li>
                <li>Collateral</li>
                <li>Ebooks</li>
              </ul>
              <div class="btn-wrapper mt-5">
                <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
              </div>
            </div>
            <span class="close-btn" aria-label="close button"></span>
          </div>
        </div>
        <div class="tab__body" data-content="tab-">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="img-wrapper">
                <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h4 class="mb-5">Content development</h4>
              <p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
              <ul class="mt-5">
                <li>Content Strategy</li>
                <li>Copywriting / Copyediting</li>
                <li>Infographics</li>
                <li>Collateral</li>
                <li>Ebooks</li>
              </ul>
              <div class="btn-wrapper mt-5">
                <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
              </div>
            </div>
            <span class="close-btn" aria-label="close button"></span>
          </div>
        </div>
        <div class="tab__body" data-content="tab-">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="img-wrapper">
                 <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h4 class="mb-5">Content development</h4>
              <p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
              <ul class="mt-5">
                <li>Content Strategy</li>
                <li>Copywriting / Copyediting</li>
                <li>Infographics</li>
                <li>Collateral</li>
                <li>Ebooks</li>
              </ul>
              <div class="btn-wrapper mt-5">
                <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
              </div>
            </div>
            <span class="close-btn" aria-label="close button"></span>
          </div>
        </div>
        <div class="tab__body" data-content="tab-">
          <div class="row">
            <div class="col-12 col-6">
              <div class="img-wrapper">
                 <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h4 class="mb-5">Content development</h4>
              <p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
              <ul class="mt-5">
                <li>Content Strategy</li>
                <li>Copywriting / Copyediting</li>
                <li>Infographics</li>
                <li>Collateral</li>
                <li>Ebooks</li>
              </ul>
              <div class="btn-wrapper mt-5">
                <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
              </div>
            </div>
            <span class="close-btn" aria-label="close button"></span>
          </div>
        </div>
        <div class="tab__body" data-content="tab-">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="img-wrapper">
                 <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h4 class="mb-5">Content development</h4>
              <p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
              <ul class="mt-5">
                <li>Content Strategy</li>
                <li>Copywriting / Copyediting</li>
                <li>Infographics</li>
                <li>Collateral</li>
                <li>Ebooks</li>
              </ul>
              <div class="btn-wrapper mt-5">
                <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
              </div>
            </div>
            <span class="close-btn" aria-label="close button"></span>
          </div>
        </div>
        <div class="tab__body" data-content="tab-">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="img-wrapper">
                 <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h4 class="mb-5">Content development</h4>
              <p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
              <ul class="mt-5">
                <li>Content Strategy</li>
                <li>Copywriting / Copyediting</li>
                <li>Infographics</li>
                <li>Collateral</li>
                <li>Ebooks</li>
              </ul>
              <div class="btn-wrapper mt-5">
                <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
              </div>
            </div>
            <span class="close-btn" aria-label="close button"></span>
          </div>
        </div>
        <div class="tab__body" data-content="tab-">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="img-wrapper">
                 <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h4 class="mb-5">Content development</h4>
              <p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
              <ul class="mt-5">
                <li>Content Strategy</li>
                <li>Copywriting / Copyediting</li>
                <li>Infographics</li>
                <li>Collateral</li>
                <li>Ebooks</li>
              </ul>
              <div class="btn-wrapper mt-5">
                <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
              </div>
            </div>
            <span class="close-btn" aria-label="close button"></span>
          </div>
        </div>
        <div class="tab__body" data-content="tab-">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="img-wrapper">
                 <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h4 class="mb-5">Content development</h4>
              <p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
            </div>
            <ul class="mt-5">
              <li>Content Strategy</li>
              <li>Copywriting / Copyediting</li>
              <li>Infographics</li>
              <li>Collateral</li>
              <li>Ebooks</li>
            </ul>
            <div class="btn-wrapper mt-5">
              <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
            </div>
          </div>
          <span class="close-btn" aria-label="close button"></span>
        </div>
        <div class="tab__body" data-content="tab-">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="img-wrapper">
                <img src="{{ theme.link }}/Components/BlockTabsWithContent/Assets/development-circle-pink-and-black.png" alt="black pink">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h4 class="mb-5">Content development</h4>
              <p class="body-default">Our content creators help you develop messaging and imagery that connect, engage, and guide your B2B customers to your solutions</p>
              <ul class="mt-5">
                <li>Content Strategy</li>
                <li>Copywriting / Copyediting</li>
                <li>Infographics</li>
                <li>Collateral</li>
                <li>Ebooks</li>
              </ul>
              <div class="btn-wrapper mt-5">
                <a data-cursor-expand href="/" class="btn-primary-pink">Learn more</a>
              </div>
            </div>
            <span class="close-btn" aria-label="close button"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>