<section class="text-image-slider">
	<div class="wrapper">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12 col-md-6">
					<div class="intro">
						<h3>Clear Digital news, thoughts, and
							<span class="text-pink black-underline">insights</span>.
						</h3>
						<p class="body-lg mt-5 mt-lg-8">Torem ipsum dolor sit amet, consectetur adipiscing at elit. Nunc vulputate libero dolore aliqua et.</p>
						<div class="action-wrap">
							<a href="#" class="btn-primary-pink mt-5 mt-lg-8">Let's Talk</a>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="row flex-nowrap mt-10 mt-lg-0">
						<div class="col-11 col-lg-10">
							<div class="text-image-slider__card">
								<div class="text-image-slider__media">
									<img src="{{ theme.link }}/Components/BlockTextImageSlider/Assets/pattern-wavy-blue.png" alt="Slider Image">
								</div>
								<div class="text-image-slider__content">
									<h4 class="text-white">Google Analytics 4 is Coming. Is Your B2B Ready?</h4>
									<p class="body-default text-white">Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.</p>
									<div class="action-wrap">
										<a href="#" class="btn-tertiary-white">Read more</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-11 col-lg-10">
							<div class="text-image-slider__card">
								<div class="text-image-slider__media">
									<img src="{{ theme.link }}/Components/BlockTextImageSlider/Assets/pattern-circle-pink.png" alt="Slider Image">
								</div>
								<div class="text-image-slider__content">
									<h4 class="text-white">Google Analytics 4 is Coming. Is Your B2B Ready?</h4>
									<p class="body-default text-white">Sed sollicitudin odio ac ornare consequat. Ut massa justo, hendrerit vel nunc non, tempus blandit enim. Vivamus gravida velit lorem ipsum dolor sit amet.</p>
									<div class="action-wrap">
										<a href="#" class="btn-tertiary-white">Read more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="progress" role="progressbar" aria-valuemin="20" aria-valuemax="100">
						<span class="slider abel sr-only"></span>
					</div>
				</div>
			</div>
			<div class="row align-items-center mt-10 mt-lg-36">
				<div class="col-12 col-lg-4">
					<h3 class="star">Featured in:</h3>
				</div>
				<div class="col-12 col-lg-8">
					<div class="row">
						<div class="col-6 col-lg-3 d-flex justify-content-center align-items-center mt-10">
							<div class="logo-wrap">
								<img src="{{ theme.link }}/Components/BlockTextImageSlider/Assets/logo-forbes.svg" alt="Logo">
							</div>
						</div>
						<div class="col-6 col-lg-3 d-flex justify-content-center align-items-center mt-10">
							<div class="logo-wrap">
								<img src="{{ theme.link }}/Components/BlockTextImageSlider/Assets/logo-medium.svg" alt="Logo">
							</div>
						</div>
						<div class="col-6 col-lg-3 d-flex justify-content-center align-items-center mt-10">
							<div class="logo-wrap">
								<img src="{{ theme.link }}/Components/BlockTextImageSlider/Assets/logo-logoipsum.svg" alt="Logo">
							</div>
						</div>
						<div class="col-6 col-lg-3 d-flex justify-content-center align-items-center mt-10">
							<div class="logo-wrap">
								<img src="{{ theme.link }}/Components/BlockTextImageSlider/Assets/logo-hyperbest.svg" alt="Logo">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
