<section class="image-two-col">
	<div class="wrapper">
		<div class="row flex-nowrap g-0 h-100">
			<div class="col-12 col-md-6 col-4xl-4">
				<div class="image-two-col__item">
					<div class="image-two-col__background">
						<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/man-holding-phone.png" alt="Background Image">
					</div>
					<div class="image-two-col__content">
						<div class="image-two-col__logo">
							<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-digimarc.png" alt="Logo">
						</div>
						<h3 class="text-white"><span class="circle-content">27%</span> increase on click-through rates.</h3>
						<div class="action-wrap">
							<a href="/" class="btn-tertiary-white">View case study</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-4xl-4">
				<div class="image-two-col__item">
					<div class="image-two-col__background">
						<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/office-discussion.png" alt="Background Image">
					</div>
					<div class="image-two-col__content">
						<div class="image-two-col__logo">
							<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-leadspace.png" alt="Logo">
						</div>
						<h3 class="text-white">53% increase on engagement metrics.</h3>
						<div class="action-wrap">
							<a href="/" class="btn-tertiary-white">View case study</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-4xl-4">
				<div class="image-two-col__item">
					<div class="image-two-col__background">
						<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/man-holding-phone.png" alt="Background Image">
					</div>
					<div class="image-two-col__content">
						<div class="image-two-col__logo">
							<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-digimarc.png" alt="Logo">
						</div>
						<h3 class="text-white"><span class="circle-content">27%</span> increase on click-through rates.</h3>
						<div class="action-wrap">
							<a href="/" class="btn-tertiary-white">View case study</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
