{# <div class="flyntComponent componentSpacing d-flex flex-column {{ options.theme }} py-0" is="flynt-image-two-col">
	<div class="swiper slider">
		<div class="row flex-nowrap g-0 h-100 swiper-wrapper">
			<div class="col-12 col-md-6 col-4xl-4 swiper-slide">
				<div class="slider-item">
					<div class="media position-absolute inset-0">
						<img class="object-fit-cover" src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/man-holding-phone.png" alt="Background Image">
					</div>
					<div class="slider-content">
						<div class="media">
							<img class="object-fit-contain" src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-digimarc.png" alt="Logo">
						</div>
						<h3 class="text-white"><span class="marker marker--circle">27%</span> increase on click-through rates.</h3>
						<div class="action">
							<a href="/" class="btn-tertiary-white">View case study</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-4xl-4 swiper-slide">
				<div class="image-two-col__item">
					<div class="image-two-col__background">
						<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/office-discussion.png" alt="Background Image">
					</div>
					<div class="image-two-col__content">
						<div class="image-two-col__logo">
							<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-leadspace.png" alt="Logo">
						</div>
						<h3 class="text-white">53% increase on engagement metrics.</h3>
						<div class="action-wrap">
							<a href="/" class="btn-tertiary-white">View case study</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="swiper">
		<div class="row flex-nowrap g-0 h-100 swiper-wrapper">
			<div class="col-12 col-md-6 col-4xl-4 swiper-slide">
				<div class="image-two-col__item">
					<div class="image-two-col__background">
						<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/man-holding-phone.png" alt="Background Image">
					</div>
					<div class="image-two-col__content">
						<div class="image-two-col__logo">
							<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-digimarc.png" alt="Logo">
						</div>
						<h3 class="text-white"><span class="circle-content">27%</span> increase on click-through rates.</h3>
						<div class="action-wrap">
							<a href="/" class="btn-tertiary-white">View case study</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-4xl-4 swiper-slide">
				<div class="image-two-col__item">
					<div class="image-two-col__background">
						<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/office-discussion.png" alt="Background Image">
					</div>
					<div class="image-two-col__content">
						<div class="image-two-col__logo">
							<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-leadspace.png" alt="Logo">
						</div>
						<h3 class="text-white">53% increase on engagement metrics.</h3>
						<div class="action-wrap">
							<a href="/" class="btn-tertiary-white">View case study</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-4xl-4 swiper-slide">
				<div class="image-two-col__item">
					<div class="image-two-col__background">
						<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/man-holding-phone.png" alt="Background Image">
					</div>
					<div class="image-two-col__content">
						<div class="image-two-col__logo">
							<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-digimarc.png" alt="Logo">
						</div>
						<h3 class="text-white"><span class="circle-content">27%</span> increase on click-through rates.</h3>
						<div class="action-wrap">
							<a href="/" class="btn-tertiary-white">View case study</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div> #}
