<div class="flyntComponent componentSpacing" is="flynt-block-image-two-col">
	<section class="image-two-col py-0">
		<div class="wrapper swiper">
			<div class="row flex-md-nowrap g-0 h-100 swiper-wrapper">
				<div class="col-12 col-md-6 swiper-slide">
					<div class="image-two-col__item">
						<div class="image-two-col__background">
							<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/man-holding-phone.png" alt="Background Image">
						</div>
						<div class="image-two-col__content">
							<div class="image-two-col__logo mb-5 mb-lg-8">
								<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-digimarc.png" alt="Logo">
							</div>
							<h3 class="text-white"><span class="circle-content">27%</span> increase on click-through rates.</h3>
							<div class="action-wrap">
								<a href="/" class="btn-tertiary-white mt-5 mt-lg-8" data-cursor-expand>View case study</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 swiper-slide">
					<div class="image-two-col__item">
						<div class="image-two-col__background">
							<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/office-discussion.png" alt="Background Image">
						</div>
						<div class="image-two-col__content">
							<div class="image-two-col__logo mb-5 mb-lg-8">
								<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-leadspace.png" alt="Logo">
							</div>
							<h3 class="text-white">53% increase on engagement metrics.</h3>
							<div class="action-wrap">
								<a href="/" class="btn-tertiary-white mt-5 mt-lg-8" data-cursor-expand>View case study</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 swiper-slide">
					<div class="image-two-col__item">
						<div class="image-two-col__background">
							<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/man-holding-phone.png" alt="Background Image">
						</div>
						<div class="image-two-col__content">
							<div class="image-two-col__logo mb-5 mb-lg-8">
								<img src="{{ theme.link }}/Components/BlockImageTwoCol/Assets/logo-digimarc.png" alt="Logo">
							</div>
							<h3 class="text-white"><span class="circle-content">27%</span> increase on click-through rates.</h3>
							<div class="action-wrap">
								<a href="/" class="btn-tertiary-white mt-5 mt-lg-8" data-cursor-expand>View case study</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-button-prev" data-cursor-expand data-cursor-icon="left"></div>
			<div class="swiper-button-next" data-cursor-expand data-cursor-icon="right"></div>
		</div>
	</section>
</div>
